
Giraffe/.idea/modules.xml
Giraffe/.idea/modules.xml
*.xml
Giraffe/.idea/Giraffe.iml
.idea/vcs.xml
.idea/PycharmProjects.iml
.idea/modules.xml
.idea/misc.xml
.idea/inspectionProfiles/profiles_settings.xml
